@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;700&display=swap');
*{
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-menu{
    background: #222222;
    display: flex;
    flex-direction: column;
    position: fixed;
    top:0;
    left:0;
    height: 100vh;
    z-index: 1000;
}
.menu-item{
    margin:20px;
}
.menu-item:hover{
    animation-name:shake;
    animation-duration: 1s;
    animation-iteration-count:1;

}
.social{
    background: #222222;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;  
}
.social-item{
    margin: 15px;
}


.header{
    display:flex;
    height:100vh;
    padding-left: 90px;
}
.header-title{
    
    text-align: right;
    font-size: 200px;
    font-weight: 300;
    
}
.header-title span{
    display: inline-flex;
    font-weight: 700;
}
.header-left, .header-right{
    width: 50%;
    height: 100%;
    display:flex;
}
.header-branches{
    display:flex;
    flex-wrap: wrap;
}
.branch-item{
    width:40%;
    flex-grow:1;
    text-align: center;
    padding:10px 0px;
    margin: 10px 20px;
    margin-bottom: 20px;
    background:#F0F0F0;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
}

.dark-blue{
    background: #23536d;
}
.red{
    background: #ff6969;
}
.yellow{
    background: #ffe49d;
}
.light-blue{
    background: #67c5e2;
    border-bottom-right-radius: 50%;
}
.color{
    width:50%;
    height:50%;
}
.header-left{
    flex-wrap:wrap;
}
.header-right{
    flex-direction:column;
    justify-content: space-between;
}






.about{
    width:100%;
    height: 100vh;
    position: relative;
}
.about-content{
    height:100%;
    width:100%;
    display: flex;
}
.about-background{
    height: 100%;
    width: 100%;
    background: #ff6969;
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
}
.bg-text{
    font-size: 150px;
    font-weight: 700;
    opacity: 0.2;
    padding-left: 90px;
}
.rect1 {
    width: 217px;
    height: 222px;
    background: #547BC7;
    box-shadow: 10px 10px 0px #1D1D1D;
    border-radius: 0px 20px;
    align-self: flex-end;
}
.rect2 {
    width: 174px;
    height: 166px;
    background: #3993ba;
    box-shadow: 10px 10px 0px #1D1D1D;
    border-radius: 0px 20px;
    
}
.rect3 {
    width: 269px;
    height: 174px;
    background: #e36fc3;
    box-shadow: 10px 10px 0px #1D1D1D;
    border-radius: 0px 20px;
    align-self: flex-start;
}

.about-content-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}
.about-title{
    font-size: 50px;
    color:white
}
.about-text {
    font-size: 30px;
    color: white;
} 
.about-content-left {
    padding-left: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
} 
.advantages {
    width: 100%;
    height: 100vh;
    position: relative;    
}
.advantages-content{
    height: 100%;
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding-left: 90px;
    align-content: space-between;
} 
.advantages-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background:#FFE49D;
    z-index: -1;    
} 
.advantages-title{
    width: 40%;
    font-size: 50px;
}
.advantages-text{
    width: 40%;
    font-size: 50px;
}
.advantages-img {
    width: 40%;
    flex-grow: 1;    
} 



.photography {
    display: flex;
    height: 100vh;
    width: 100%;    
} 
.photography-left {
    background: url(img/pictures/4th-section-img.png) center/cover no-repeat;
    flex-grow: 1;   
} 
.photography-right {
    position: relative;  
    overflow: hidden;  
    flex-grow: 2;
}
.photography-bg {
    position: absolute;
    top:0;
    left:0; 
    z-index: -1;   
} 
.photography-text {
    width: 500px;    
} 

@keyframes shake{
    0%{
        transform:rotate(0deg);
    }
    35%{
        transform:rotate(10deg);
    }
    70%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(0deg);
    }
}